#menu_page {
    /*padding: 6rem 0; */
    scroll-behavior: smooth;
    background-color: $dark-grey;
    position: relative;

    .row {
        margin: 0;
    }

    .mobile-nav {
        display: none;
        width: 100%;
        box-shadow: 0 0.1rem 1rem #000;

        @include media-breakpoint-down(lg) {
            display: inline-block;
            position: fixed;
            z-index: 100;
            top: 0;
        }

        .container {
            display: inline-block;
            cursor: pointer;
            position: absolute;
            right: 0;
            z-index: 10;

            &.mobile-width {
                border: solid .1rem $gold;
                width: unset;
                padding: 1rem;
                background-color: $brand-blue;
                width: 100%;
                max-width: 100vw;
            }
        }

        .bar1,
        .bar2,
        .bar3 {
            width: 35px;
            height: 5px;
            background-color: $gold;
            margin: 6px 0;
            transition: 0.4s;
            z-index: 4;
        }

        // .bar1 {
        //     top: 1rem
        // }

        // .bar2 {
        //     top: 2rem
        // }

        // .bar3 {
        //     top: 3rem
        // }

        .bar1 {
            &.change {


                -webkit-transform: rotate(-45deg) translate(-9px, 6px);
                transform: rotate(-45deg) translate(-9px, 6px);
            }
        }

        .bar2 {
            &.change {


                opacity: 0;
            }
        }

        .bar3 {
            &.change {


                -webkit-transform: rotate(45deg) translate(-8px, -8px);
                transform: rotate(45deg) translate(-8px, -8px);
            }
        }
    }

    .flex-end {
        display: flex;
        justify-content: flex-end;
    }

    .width {
        width: 100%;
    }

    .flex-col-lg-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:3rem 0;
    }

    #food-links {
        background-color: $gold;

        @include media-breakpoint-down(lg) {
            position: fixed;
            box-shadow: none;
            background-color: $brand-blue;
            z-index: 10;
            width: 100%;
            top: 0;
            height: 100vh;
            align-items: center;
            transform: scaleY(0);
            transform-origin: top;
            transition: all .5s ease-in-out;

            &.show {
                transform: scaleY(1);
            }
        }


        &.sticky {
            position: fixed;
            z-index: 10;
            width: 100%;
            top: 0;
            box-shadow: 0 0.1rem 1rem #000;

            @include media-breakpoint-down(lg) {
                box-shadow: none;
            }
        }


        .quicklinks {
            padding: 1rem;
            width: 100%;
            display: flex;
            justify-content: space-around;
            list-style: none;
            flex-wrap: wrap;
            align-items: center;

            @include media-breakpoint-down(lg) {
                justify-content: center;
                flex-direction: column;
            }

            li {
                font-size: 1.8rem;
                color: $gold;

                @include media-breakpoint-down(md) {
                    font-size: 1.8rem;
                    margin: .5rem;
                }

                &.active {
                    color: $gold;
                }

                a {
                    color: white;

                    @include media-breakpoint-down(lg) {
                        color: $gold;
                    }

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .price {
        font-family: orpheuspro, serif;
        font-weight: 700;
        font-style: normal;
        font-size: 2.4rem;
    }

    #food_menu {
        position: relative;
        padding-bottom: 6rem;
        background-color: $white;
        background-image: url("../images/menu.svg");
        background-repeat: repeat;

        .container {
            background-color: white;
            position: relative;
            padding: 3rem;

            @include media-breakpoint-down(md) {
                padding: 0;
                margin: auto;
            }

            &.gold {
                background-color: $gold;
            }

        }

        #pretext {
            @include font(2rem, 700, false, blue);
            font-size: 2rem;
            color: $light-grey;
            text-align: center;
        }

        .section {
            margin: 3rem;
            border: solid $gold 0.2rem;
            display: flex;
            justify-content: center;

            &.drink {
                flex-direction: column;

                span {
                    &.price {
                        color: $white;
                        background-color: $gold;
                        padding: 0 1rem;
                        font-size: 2rem;
                    }

                    &.price-child-small {
                        color: $white;
                        background-color: black;
                        padding: 0 1rem;
                        font-size: 2rem;
                    }

                }

                .menu_list .foodname p {
                    min-width: 25rem;

                    @include media-breakpoint-down(md) {
                        min-width: unset;
                    }

                    &.desc {
                        font-size: 1.6rem;
                        text-align: right;

                        @include media-breakpoint-down(md) {
                            text-align: left;
                            min-width: 100%;
                        }
                    }
                }

                .menu_list .soft-drink p {
                    min-width: unset;
                }
            }

            &#childrens {
                flex-direction: column;

                .price {
                    display: flex;

                    @include media-breakpoint-down(md) {
                        display: unset;
                    }
                }

                span {
                    &.price {
                        color: $white;
                        background-color: $gold;
                        padding: 0 1rem;
                        font-size: 2rem;
                        height: 3rem;
                        margin-left: .5rem;
                    }

                    &.price-child-small {
                        color: $white;
                        background-color: black;
                        padding: 0 1rem;
                        font-size: 2rem;
                        height: 3rem;
                    }

                }
            }

            @include media-breakpoint-down(md) {
                padding: 0;
                margin: 0;
            }
        }

        .heading {
            font-size: 3.6rem;
            color: $gold;
            text-align: center;
            margin: 6rem 0 2rem 0;

            @extend %orpheus-i;

            @include media-breakpoint-down(sm) {
                font-size: 3.2rem;
            }

            @media only screen and (max-width: 600px) {
                font-size: 2.6rem;
            }
        }

        .logo {
            background: url("../images/logo.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 8rem;
            width: 8rem;
            position: relative;
        }

        .flex-col-center {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 4rem;

            p {
                color: $gold;
            }
        }

        .sub-heading {
            font-size: 2.6rem;
            color: $gold;
            text-align: center;
            margin: 3rem 0 1rem 0;

            @include media-breakpoint-down(sm) {
                font-size: 2.8rem;
            }

            @media only screen and (max-width: 600px) {
                font-size: 2.4rem;
            }
        }

        .desctitle {
            font-size: 2rem;
            color: $gold;
            text-align: center;
            margin: 3rem auto 6rem;

            @include media-breakpoint-down(md) {
                font-size: 1.8rem;
            }
        }

        .menu_list {
            width: 100%;
            padding: 0 1.5rem 0rem 0;
            list-style-type: none;
            text-align: center;
            margin-bottom: 3rem;
            color: white;


            p {
                padding-top: 1rem;
                padding-bottom: 0;
            }



            li {
                font-size: 1.8rem;
                color: #fff;
                /*width: 38rem;*/
                margin: 0 auto 3rem auto;

                @include media-breakpoint-down(md) {
                    font-size: 1.6rem;
                    width: auto;
                }


                &:last-child {
                    margin-bottom: 0;
                }





                &.section_title {
                    color: $gold;
                    font-size: 2.4rem;
                    margin-bottom: 1.5rem;

                    @include media-breakpoint-down(md) {
                        font-size: 2.2rem;
                    }
                }
            }

            .foodname {
                font-size: 2.4rem;
                color: $black;
                text-align: left;
                font-weight: 800;
                display: flex;
                justify-content: space-between;
                border-bottom: dotted 1px $gold;
                @extend %orpheus-b;

                @include media-breakpoint-down(md) {
                    flex-direction: column;
                    text-align: center;
                }

                p {
                    font-family: orpheuspro, serif;
                    font-weight: 700;
                    font-style: normal;
                    font-size: 2.4rem;
                }
            }

            .addinfo {
                padding: 0 2rem;
                color: $gold;

                @include media-breakpoint-down(md) {
                    padding: 0;
                    margin: 0;
                }
            }

            .desc {
                font-size: 1.6rem;
                color: $light-grey;
                text-align: left;
                font-weight: 300;
                max-width: 90%;
            }

            .price {
                font-size: 2rem;
                color: $black;
                text-align: center;
                font-weight: 900;
                text-align: right;

                @include media-breakpoint-down(md) {
                    text-align: center;
                }
            }

            .price-small {
                text-align: right;
                color: $gold;
                position: relative;
                padding-left: 5rem;

                &::before {
                    content: "S";
                    position: absolute;
                    background-color: $gold;
                    width: 3rem;
                    height: 3rem;
                    left: 0rem;
                    color: white;
                    text-align: center;
                    margin: 0px 1rem;
                }
            }
        }

        #biryani {
            background-color: $gold;

            .container {
                background-color: $gold;

                li {
                    margin: 0;
                }
            }

            h2 {
                color: $black;
            }

            .desctitle {
                color: $white;
            }

            p {
                color: $black;
            }

            .foodname {
                border-bottom: dotted 1px white;
            }
        }

        #famous {
            background-color: $gold;
            border: solid $white 0.2rem;

            .center {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .container {
                background-color: $gold;

                li {
                    margin: 0;
                }
            }

            .flex-center {
                display: flex;
                justify-content: center;
            }

            .desctitle {
                margin: 0;
            }

            h2 {
                color: $black;
            }

            .desctitle {
                color: $white;
            }

            p {
                color: $black;

                span {
                    color: white;
                }
            }

            .foodname {
                border-bottom: none;
                @extend %orpheus-b;
                font-size: 2.4rem;
            }
        }

        #vegetable {
            .desc {
                width: 80%;
            }

            .center {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .desctitle {
                min-width: 30rem;
                text-align: center;
            }

            .foodname {
                font-family: orpheuspro, serif;

                @include media-breakpoint-down(md) {
                    flex-direction: row;
                    text-align: center;
                }

                @include media-breakpoint-down(xs) {
                    flex-direction: column;
                    text-align: center;
                }
            }

            .price {
                @include media-breakpoint-down(xs) {
                    padding: 2rem;
                    margin-left: 4rem;
                }

                &::before {
                    content: "M";
                    position: absolute;
                    background-color: $black;
                    width: 3rem;
                    height: 3rem;
                    transform: translateX(-4rem);
                    color: white;
                    text-align: center;
                }
            }
        }

        .additional_info {
            font-size: 1.6rem;
            color: #fff;
            text-align: center;
            width: 100%;
            padding-top: 5rem;

            @include media-breakpoint-down(xs) {
                text-align: left;
            }
        }
    }
}