#header {
    background-color: $brand-blue;
    width: 100%;
    display: block;
    padding: 2rem 0;
    position: relative;
    z-index: 3;

    &.homepage {
        position: relative;
    }

    .content {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;

        @include media-breakpoint-down(lg) {
            flex-direction: column;
            align-items: center;
        }

        .logo {
            width: 17rem;
            padding: 1rem;
            margin-left: 8rem;

            @include media-breakpoint-down(lg) {
                width: 30rem;
                padding: 3rem;
                margin: auto;
            }


            img {
                width: 100%;
                height: auto;
            }
        }

        .nav-right {
            display: flex;

            // @include media-breakpoint-down(lg) {
            //     width: 100%;
            //     justify-content: space-between;

            @include media-breakpoint-down(md) {
                flex-direction: column;
            }

        }

        nav {
            padding: 2rem;
            display: flex;
            align-items: center;

            @include media-breakpoint-down(md) {
                margin: auto;
                padding: 0;
            }

            ul {
                display: flex;
                list-style: none;

                @include media-breakpoint-down(md) {
                    flex-wrap: wrap;
                    justify-content: space-between;
                }

                @include media-breakpoint-down(xs) {
                    flex-wrap: wrap;
                    justify-content: center;
                }

                li {
                    display: ruby;
                    padding: 1rem;
                    text-align: center;

                    @include media-breakpoint-down(sm) {}

                    @include media-breakpoint-down(xs) {
                        text-align: start;
                        width: 32%;
                        text-align: center;
                    }

                    a {
                        font-size: 2rem;
                        color: $white;
                        text-decoration: none;
                        transition: all 0.3s ease-in-out;

                        &:hover {
                            color: $gold;
                            transition: all 0.3s ease-in-out;
                        }
                    }
                }
            }
        }

        .social-row {
            padding: 2rem;
            display: flex;
            align-items: center;

            @include media-breakpoint-down(md) {
                margin: auto;
            }

            a {
                height: 4rem;
                width: 4rem;
                background-position: center;

                background-repeat: no-repeat;
                border: solid 0.2rem $gold;
                display: inline-block;
                margin-right: 2rem;
                transition: all 0.3s ease-in-out;

                &:hover {
                    background-color: #fff;
                    transition: all 0.3s ease-in-out;
                }

                &.facebook {
                    background-image: url("../images/facebook.svg");
                    background-position: bottom;
                    background-size: 45%;
                }

                &.instagram {
                    background-image: url("../images/insta.svg");
                    background-size: 75%;
                }
            }
        }
    }
}