/*colours*/
$brand-blue: #201E32;
$black: #3c3c3b;
$white: #fafafa;
$light-grey:#b2b2b2;
$dark-grey:#494949;
$gold: #B78B49;



/* font */
$family:'Raleway',
sans-serif;
$h1-font:5rem;
$h1-padding:5rem 2rem;

$p-font: 1.8rem;
$p-padding:2rem;
$p-bold:900;

$font-style:Raleway;


$button-border:solid 2px $gold;